<div class="hero is-info is-medium is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/"><h1 class="title">chess_js</h1></a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="/singleplayer">
                            Single Player
                        </a>
                        <a class="navbar-item" href="/multiplayer">
                            Multiplayer
                        </a>
                        <a class="navbar-item" href="/profile">
                            Profile
                        </a>
                        <a class="navbar-item" href="/login">
                            Log In
                        </a>
                        <a class="navbar-item" href="/signup">
                            Sign Up
                        </a>
                        <a class="navbar-item" href="/logout">
                            Log Out
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</div>
</br>